.sidebar {

    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    color: #4d4d4d;
    line-height: 1.4;

    margin: 8px 0px 0px 8px;

    width: 320px;
    padding: 10px;
    
    background-color: rgba(255, 255, 255, 0.6);
    border-radius: 5px;


    &__head {
        font-size: 24px;
        font-weight: 400;

        margin: 10px 0;
        line-height: 1.2;
        color: #000;
    }

    &__title {
        font-weight: 500;
        margin: 10px 0 0;
        line-height: 1.2;
    }

    &__resources &__title {
        font-size: 18px;
        margin: 10px 0;
    }

    &__link {
        text-decoration: none;
        font-weight: 300;

        color: #b83f45;
        cursor: pointer;

        &:hover {
            text-decoration: underline;

            color: #787e7e;
        }
    }

    &__link-list {
        display: list-item;
        list-style-type: disc;

        margin-left: 25px;
        line-height: 20px;
    }

    &__quote {
        position: relative;

        margin: 40px 0;

        &::before,
        &::after {
            content: '';

            position: absolute;
            display: block;

            width: 100%;
            height: 0px;
            border: 0;
            border-top: 1px dashed #C5C5C5;
            border-bottom: 1px dashed #F7F7F7;
        }

        &::before {
            top: -20px;
        }

        &::after {
            bottom: -20px;
        }
    }

    &__quote-text {
        font-size: 15px;
        font-style: italic;
        font-weight: 300;
        line-height: 1.3;

        position: relative;

        padding: 10px;

        background: rgba(0, 0, 0, .04);
        border-radius: 5px;

        &::before,
        &::after {
            position: absolute;

            font-size: 50px;
            opacity: 0.15;
        }

        &::before {
            content: '“';

            top: -20px;
            left: 3px;
        }

        &::after {
            content: '”';

            bottom: -42px;
            right: 3px;
        }
    }


    &__quote-author {
        font-size: 15px;
        font-weight: 300;

        width: 100%;
        padding: 15px 0 0;
        
        text-align: right;
        position: relative;

        &::before {
            position: absolute;
            content: '';

            top: 0;
            right: 30px;

            border: 13px solid transparent;
            border-top-color: rgba(0, 0, 0, .04);
        }
    }

    &__resources {
        margin-bottom: 30px;
    }

}
