input_skin_base($height) {

    position: relative;
    display: inline-block;
    box-sizing: border-box;

    background-color: #fff;
    border: 1px solid rgba(0, 0, 0, 0.2);

    // чтобы под бордером не было белого фона
    background-clip: padding-box;

    vertical-align: baseline;
    line-height:  normal;
    cursor: text;

    transition:box-shadow .05s ease-out; /* анимация желтой фокусной рамки */

    &._focused {
        outline: 0;
        box-shadow: 0 0 10px #fc0;

        if (ie == 8) {
            border-color: #d1bb66;
        } else {
            border-color: rgba(178, 142, 0, .6);
        }
    }

    /* <input> */
    &__control{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;

        position: relative;
        display: inline-block;
        box-sizing: border-box;
        margin: 0;
        padding: 0 .6em;
        width: 100%;
        height: $height;
        // Чтобы не заползал под крестик
        padding-right: $height;

        border: none;
        vertical-align: baseline;

        &:focus{
            outline: none;
        }

        /*
            @see http://alexbaumgertner.ya.ru/replies.xml?item_no=2112
            @see http://www.cssnewbie.com/input-button-line-height-bug/
        */
        &::-moz-focus-inner {
            padding: 0;
            border: none;
        }


        /* прячем стандартный крестик IE10 */
        &::-ms-clear {
            display: none;
        }
    }

    &._disabled{
        border-color: transparent !important;
        cursor: default;

        if (ie == 8) {
            background-color: #ebebeb !important;
        } else {
            background-color: rgba(0, 0, 0, 0.08) !important;
        }
    }

    &._disabled &__control{
        user-select: none;
        background-color: inherit;
    }

    &__clear {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;

        width: $height;
        height: $height;
        vertical-align: middle;

        background: url('images/clear-14.png') 50% 50% no-repeat;
        cursor: pointer;
        opacity: (ie != 8) ? 0.3 : 1;

        &:hover {
            background-image: url('images/clear-14-hover.png');
            opacity: 1;
        }

        &._visible {
            display: block;
        }
    }
}
