input_skin_clear($size) {
    &__clear {
        background: url('images/clear-' + $size + '.png') 50% 50% no-repeat;

        &:hover {
            background-image: url('images/clear-' + $size + '-hover.png');
        }
    }
}
